<header>
    <nav class="navbar navbar-light" style="background-color: #2b6ca9;">
        <div class="font-weight-bold text-decoration-none align-self-start">
            {{#if logged}}
            <a href="/api/views/session/login">
                <button>Login</button>
            </a>
            <a href="/api/views/session/register">Register</a>
            {{else}}
            <div class="me-auto mt-2 user-info">
                <span class="navbar-brand">
                    User: {{first_name}}
                    {{last_name}}
                    Your rol is:
                    {{role}}
                </span>
                    </div>
            <a href="/api/views/session/profile">
                <button type="button" class="btn btn-secondary mb-2">Profile</button>
            </a>
            <a href="/api/views/carts/{{cartId}}">
                <button type="button" class="btn btn-secondary mb-2">Cart</button>
            </a>
            <form action="/api/views/session/logout" method="post">
                <button class="btn btn-secondary">Log Out</button>
            </form>
            {{/if}}
        </div>
    </nav>
    <hr>
</header>
<main>
<table class="table table-light">
  {{#if emptyCart}}
  <h1>Empty Cart</h1>
  {{else}}
  {{#each products}}
  <thead>
    <tr class="">
      <th scope="col">Title</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit price</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
    <tr>
      <td class="align-middle">{{product.title}}</td>
      <td class="align-middle">{{quantity}}</td>
      <td class="align-middle">{{product.price}}</td>
      <td><img class="rounded mx-auto d-block" style="width: 8rem; height:auto" src={{product.thumbnail}}></img></td>
    </tr>
  {{/each}}
</table>  
      <p>Total de compra: {{total}}</p>
      <button class="btn btn-success" id="buy" value= "{{cartId}}">Comprar</button>
  {{/if}}
</main>
<script src="/static/js/purchase.js"></script>

