<header>
    <h1 class="text-center bg-info shadow-lg p-3 mb-5 bg-body rounded">Cart</h1>
</header>
<table class="table table-light">
    {{#each products}}
    <tr class="">
      <th scope="col">ID</th>
      <th scope="col">Product</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="align-middle" scope="row">{{this._id}}</th>
      <td class="align-middle">{{idProduct.title}}</td>
      <td class="align-middle">{{idProduct.description}}</td>
      <td class="align-middle">{{idProduct.price}}</td>
      <td><img class="rounded mx-auto d-block" style="width: 8rem; height:auto" src={{idProduct.thumbnail}}></img></td>
    </tr>
  </tbody>
   {{/each}} 

</table>

