<header>
    <h1 class="text-center bg-info shadow-lg p-3 mb-5 bg-body rounded">Listado de Productos</h1>
</header>
<main class="bg-light">
        {{#each products}}
            <ul class="card list-unstyled d-flex flex-column align-items-center align-content-center">
                <li>Image<img src="" class="card-img-top" alt="...">{{this.thumbnails}}</li>
                <li>ID: {{this.id}}</li>
                <li>Title: {{this.title}}</li>
                <li>Description: {{this.description}}</li>
                <li>Price: {{this.price}}</li>
                <li>Stock: {{this.stock}}</li>
                <li>Code: {{this.code}}</li>
            </ul>
        {{/each}}
</main>
