<header>
    <nav class="navbar navbar-light" style="background-color: #2b6ca9;">
        <div class="font-weight-bold text-decoration-none align-self-start">
            {{#if logged}}
            <a href="/api/views/session/login">
                <button>Login</button>
            </a>
            <a href="/api/views/session/register">Register</a>
            {{else}}
            <div class="me-auto mt-2 user-info">
                <span class="navbar-brand">
                    User: {{first_name}}
                    {{last_name}}
                    Your rol is:
                    {{role}}
                </span>
                    </div>
            <a href="/api/views/session/profile">
                <button type="button" class="btn btn-secondary mb-2">Profile</button>
            </a>
            <a href="/api/views/carts/{{cartId}}">
                <button type="button" class="btn btn-secondary mb-2">Cart</button>
            </a>
            <form action="/api/views/session/logout" method="post">
                <button class="btn btn-secondary">Log Out</button>
            </form>
            {{/if}}
        </div>
    </nav>
    <hr>
</header>
<main class="container" style="background-color: #ffffff">
    <div class="m-2 d-flex justify-content-between">
    {{#each products}}
    <div class="card text-center" style="width: 14rem">
        <img src={{this.thumbnail}} class="card-img-top max-width: 100%" alt={{this.title}}>
        <div class="card-body">
            <p class="card-text font-weight-normal">{{this.title}}</p>
            <p class="card-text" id="productId">ID: {{this._id}}</p>
            <p class="card-text font-weight-normal">{{this.description}}</p>
            <p class="card-text font-weight-normal">Stock: {{this.stock}}</p>
            <p class="card-text font-weight-normal">Price: {{this.price}}</p>
            <p class="card-text font-weight-normal">cartID: {{../cartId}}</p>
        <div class="input-group mt-2 p-4">
        <input class="form-control d-inline-block " 
            type="number"
            name="quantity"
            id="quantity"
            value="1"
            min="1"
            max="{{this.stock}}"
            />
          <button type="button" class="btn btn-outline-info" id="addButton" value={{../cartId}} data-product-id="{{this._id}}">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-cart-plus"
              viewBox="0 0 16 16"
            >
              <path
                d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"
              />
              <path
                d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
              />
            </svg></button>
        </div>
        </div>

    </div>
    {{/each}}
</div>
<br />
<section class="container-fluid boxProducts">
    <nav aria-label="Page navigation">
        <ul class="pagination">
{{#if hasPrevPage}}
    <li class="page-item">
        <a class="page-link" href="/api/views/products?page={{prevPage}}&sort={{sort}}"> Prev Page </a>
    </li>
{{/if}}
{{#if totalPages}}
    <li class="page-item"><a class="page-link" href="/api/views/products?page={{page}}&sort={{sort}}"> {{page}} </a></li>
{{/if}}
{{#if hasNextPage}}
    <li class="page-item">
        <a class="page-link" href="/api/views/products?page={{nextPage}}&sort={{sort}}"> Next </a>
    </li>
{{/if}}
        </ul>
    </nav>
</section>

</main>
<hr>
<footer class="container">
      <p>© Company E-commerce Coder</p>
</footer>
<script src="/static/js/mainProducts.js"></script>