<header>
    <h1 class="bg-primary text-center mb-2 p-3">Listado de Productos</h1>
    <nav class="navbar d-flex flex-column mb-4">
        <p class="font-weight-bold align-self-start">Welcome: {{first_name}}, {{last_name}}!</p>
        <p class="font-weight-bold align-self-start">Role: {{role}}</p>
        <div class="font-weight-bold text-decoration-none align-self-start">
            {{#if showLogin}}
            <a href="/api/views/session/login">
                <button>Login</button>
            </a>
            <a href="/api/views/session/register">Register</a>
            {{else}}
            <a href="/api/views/session/profile">
                <button>Profile</button>
            </a>
            <a href="/api/views/carts/64ab2a30a83e2498e5a46498">
                <button>Cart</button>
            </a>
            <form action="/api/views/session/logout" method="post">
                <button>Log Out</button>
            </form>
            {{/if}}
        </div>
    </nav>
</header>
{{#if isValid}}
<div class="m-2 d-flex justify-content-between">
    {{#each docs}}
    <div class="card" style="width: 14rem;height: auto;">
        <img src={{this.thumbnail}} class="card-img-top max-width: 100%" alt={{this.title}}>
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.description}}</p>
            <p class="card-text">{{this.stock}}</p>
            <p class="card-text">{{this.price}}</p>
            <a href="#" class="btn btn-primary">Add to car</a>
        </div>
    </div>
    {{/each}}
</div>
<br />
<div class="m-2">
    {{#if hasPrevPage}}
    <a href={{this.prevLink}}>
        << Previous </a>
            {{/if}}
            {{this.page}}
            {{#if hasNextPage}}
            <a href={{this.nextLink}}>Next >></a>
            {{/if}}
</div>
{{else}}
<h2>There is not products</h2>
{{/if}}