{{#if isValid}}
<header>
    <h1 class="text-center bg-info shadow-lg p-3 mb-5 bg-body rounded">Listado de Productos</h1>
</header>
<div class="m-2 d-flex justify-content-between">
    {{#each docs}}
    <div class="card" style="width: 14rem;height: auto;">
        <img src={{this.thumbnail}} class="card-img-top max-width: 100%" alt={{this.title}}>
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.description}}</p>
            <p class="card-text">{{this.stock}}</p>
            <p class="card-text">{{this.price}}</p>
            <a href="#" class="btn btn-primary">Add to car</a>
        </div>
    </div>
    {{/each}}
</div>
<br/>
<div class="m-2">
    {{#if hasPrevPage}}
        <a href={{this.prevLink}}><< Previous </a>
    {{/if}}
    {{this.page}}
     {{#if hasNextPage}}
        <a href={{this.nextLink}}>Next >></a>
    {{/if}} 
</div>
{{else}}
<h2>There is not products</h2>
{{/if}}