<header>
    <h1 class="bg-primary text-center mb-2 p-3">Details of products</h1>
    <nav class="navbar d-flex flex-column mb-4">
          <div class="font-weight-bold text-decoration-none align-self-start">
            {{#if logged}}
            <a href="/api/views/session/login">
                <button>Login</button>
            </a>
            <a href="/api/views/session/register">Register</a>
            {{else}}
            <div class="me-auto mt-2 user-info">
                <span class="navbar-brand">Welcome: 
                    {{first_name}}
                    {{last_name}}
                    <br>
                    Your rol is:
                    {{role}}</span>
                    </div>
            <a href="/api/views/session/profile">
                <button class="btn btn-secondary mb-2">Profile</button>
            </a>
            <a href="/api/views/carts/{{cartId}}">
                <button class="btn btn-secondary mb-2">Cart</button>
            </a>
            <form action="/api/views/session/logout" method="post">
                <button class="btn btn-secondary mb-2">Log Out</button>
            </form>
            {{/if}}
        </div>
  </nav>
</header>
<main>
  <div class="card mb-3 card-position product" style="max-width: 700px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{product.thumbnail}}"
          class="img-fluid rounded-start img-size"
          alt="{{product.category}}"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text">Available: {{product.stock}}</p>
          <p class="card-text"><small class="text-body-secondary">Price: USD
              {{product.price}}</small></p>
          <input
            type="number"
            name="quantity"
            id="quantity"
            value="1"
            min="1"
            max="{{product.stock}}"
          />
        </div>
      </div>
    </div>
  </div>
</main>

<script src="/static/js/"></script>