<header>
  <nav class="navbar navbar-expand-lg bg-dark bg-gradient w-100 .show" data-bs-toggle="collapse"
    data-bs-target="#navbarTogglerDemo02">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
      <ul class="navbar-nav w-100 d-flex justify-content-between">
        {{#if logged}}
        <li class="nav-item active">
          <a class="nav-link text-left" href="/api/views/session/login">Iniciar sesión</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-left" href="/api/views/session/register">Registrarse</a>
        </li>
        {{else}}
        <div class="w-100 d-flex ">
          <li class="nav-item active">
            <div class="user-info d-flex align-items-center">
              <span class="navbar-brand">
                <p class="fs-4 text-info">Usuario: {{first_name}} {{last_name}}<br>Tu rol es: {{role}}</p>
              </span>
            </div>
          </li>
        </div>
        <div class="ml-auto d-flex">
          <li class="nav-item active">
            <a class="nav-link text-right" href="/api/views/session/profile">
              <button class="btn btn-outline-info my-2 my-sm-0">Profile</button>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-right" href="/api/views/carts/{{cartId}}">
              <button class="btn btn-outline-info my-2 my-sm-0">Cart</button>
            </a>
          </li>
          <li class="nav-item active">
            <form class="nav-link text-right" action="/api/views/session/logout" method="post">
              <button class="btn btn-outline-info my-2 my-sm-0">Cerrar sesión</button>
            </form>
          </li>
        </div>
        {{/if}}
      </ul>
    </div>
  </nav>
  <hr>
</header>
<main style="min-height: 40rem;">
      <a class="mb-12" href="/api/views/products">
      <button class="btn btn-success mt-4 d-grid gap-2 col-6 mx-auto">Go to
          products
      </button>
      </a>
</main>
<footer class="bg-dark bg-gradient" style="height:5rem;">
    <p class="fs-4 text-info text-center">© Company E-commerce Coder</p>
</footer>